services:
  postgres:
    image: postgis/postgis:16-3.4
    container_name: eo_catalog_db
    env_file:
      - ./build/.env
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5433:5432" # local:docker
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: eo_pgadmin
    env_file:
      - ./build/.env
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    container_name: eo_qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./data/qdrant:/qdrant/storage
    restart: unless-stopped

# to reset postgres:
# docker compose down
# rm -rf ./data/postgres
# mkdir -p ./data/postgres
# docker compose up -d
